@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}
 body {
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #FFE2FF;     
 }
 .container {
    background: #EFB1FF;
    position: relative;
    max-width: 300px;
    width:100%;
    border-radius: 12px;
    padding: 20px 20px 20px;
    
    }
 .display {
 height: 180px;
 width: 100%;
 outline: none;
 border: none;
 text-align: right;
 margin-bottom: 10px;
 font-size: 25px;
 color: #000e1a;
 }

 .button{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    
 }
 .buttons button {
   background-color: white;
   padding: 10px;
   border-radius: 6px;
   border: none;
   font-size: 20px;
   cursor: pointer;
   }
   
.buttons button:active {
transform: scale(0.99);
 }

 .operator {
 color: #742DD2;
   }
        

 
    
        
    
 
